<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views https://axelor.com/xml/ns/object-views/object-views_7.4.xsd">

  <menuitem name="menu-dictionaries" title="Dictionaries"/>

    <menuitem name="menu-customs-office" title="Customs organs" parent="menu-dictionaries" action="customs-office-all"/>

    <action-view name="customs-office-all" title="Customs organs" model="com.axelor.apps.audio.db.CustomsOffice">
      <view type="grid" name="audio-customs-office-grid"/>
      <view type="form" name="audio-customs-office-form"/>
    </action-view>

</object-views>
